click==8.0.3
colorama==0.4.4
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
peewee==3.14.4
Werkzeug==2.0.2
astroid==2.8.4
autopep8==1.5.7
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
Flask==2.0.2
idna==3.3
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
platformdirs==2.4.0
PyInputPlus==0.2.12
pylint==2.11.1
PySimpleValidate==0.2.12
redis==3.5.3
requests==2.26.0
stdiomask==0.0.6
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
wrapt==1.13.3
